{{ partial "header.html" . }}
<body>
    <div>
        <div>
            <h1 style="text-align: center;">Samples</h1>
            <p>It has been our pleasure to do a wide variety of projects. While Non-Disclosure Aggreements prevent us from talking about the majority our work we are pleased to share the samples below.</p>
        </div>
        <div style="text-align: center;background-color: cornflowerblue;">
            <h1>Private Applications</h1>
            <h3>Modern Technologies</h3>
            <h4>Prebuilt Tools</h6>
            <img src="/images/portal_login.png" alt='portal login'>
            <h4>Custom Solutions</h4>
            <p>When storing your information online it is important to hold yourself to high standards.</p>
            <p>At Magyk Software we will provide you with the security that makes sense for your project. We can help with system and account administration. We are experienced in: SSL, password hashing+salting, private networks, virtual private networks, access logging, and device monitoring.</p>
            <p>We can build analytics, automation, administration, operations, and commcerce solutions for you. We can ensure that only the proper people have access the proper data.</p>
        </div>
        <div style="background-color: cornflowerblue;">
            <h1>Automation</h1>
            <h3>Free Human Capital</h3>
            <h4>Automation</h4>
            <img src="/images/automation.png" alt='automation'>
            <h4>Custom Solutions</h4>
            <p>It is so hard to find good people. When you find the people that make your company work well it is best to not waste their time with busy work. There are many ways you can utilize modern technologies to streamline your business processes. When you reduce the busy work your good employees have you allow them to focus on growth and improvement instead of paperwork.</p>
            <p>Here at Magyk Software the Development team designed a program to scrape multiple job boards for the Marketing Team. Now the marketing team gets hundreds of highly qualifed leads per day. At the time of writing this our machine has scraped and scored over two hundred thousand posts from reddit, craiglist, and linkedIn.</p>
            <p>After the scraping was built an addition was made to our in house business adminstation software Magyk Business The addition allowed the Marketing team to review a filtered and sorted list and then contact the leads that made sense to our company.</p>

        </div>
    </div>
{{ partial "footer.html" . }}
</body>
