#header {
    background-color: aqua;
    position: fixed;
    width: 2000px ;
    height: 75px;
    margin: -10px;
    text-align: center;
    display: flex;
    
}
#nav-link {
    padding-top: 30px;
    margin-left: auto;

}
.sideBar {
    background-image: url(/images/sidebar.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    width: 600px;
    margin-top: 60px;
    margin-left: -10px;
}
.body {
    display: flex;
    
}
.projects {
    background-color: rgb(63, 62, 62);
    height: 900px;
    width: 1000px;
    margin-top: 60px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto;
    grid-column-start: 1;
    grid-column-end: 3;

}
.postIt {
    border: solid;
    background-color: #ffc;
    font-family: 'Reanie Beanie';
    height: 100px;
    margin: 30px;
    width: 100px;
    padding:1em;
        /* Firefox */
        -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
        /* Safari+Chrome */
        -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        /* Opera */
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
#left {
    transform: rotate(-6deg);
}
#right {
    transform: rotate(6deg);
}
.postIt:hover, .postIt:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(9);
    -moz-transform: scale(9);
    -o-transform: scale(9);
    position:relative;
    z-index:5;
  }
  .postIt:hover, #images {
      transform: scale(9);
  }