{{ partial "header.html" . }}
<div class='servicesContainer'>
    <div class="servicesMenu">
        <div class="dropdownData">
            <button id="topBtn" class="menuBtn"><a href="#data">Data <i class="fas fa-database"></i></a></button>
            <div class="dd-containerData">
                <button class="dd-contentsData"><a href='#database'>Database <i class="fas fa-server"></i></a></button>
                <button class="dd-contentsData"><a href='#data-science'>Data Science  <i class="fas fa-microscope"></i></a></button>
                <button class="dd-contentsData"><a href='#data-pipeline'>Data Pipeline  <i class="fas fa-shipping-fast"></i></a></button>
            </div>
        </div>
        <div class='dropdownApp'>
            <button class="menuBtn"><a href='#applications'>Applications <i class="fas fa-tablet-alt"></i></a></button>
            <div>
                <button class="dd-contentsApp"><a href='#web'>Web <i class="fas fa-network-wired"></i></a></button>
                <button class="dd-contentsApp"><a href='#IOS'>IOS <i class="fab fa-app-store-ios"></i></a></button>
                <button class="dd-contentsApp"><a href='#android'>Android <i class="fab fa-android"></i></a></button>
            </div>
        </div>
        <div class="dropdownAnalytics">
            <button class="menuBtn"><a href='#analytics'>Analytics <i class="fas fa-chart-bar"></i></a></button>
            <div>
                <button class="dd-contentsAnalytics"><a href='#statistics'>Computerized Statistics  <i class="fas fa-server"></i></a></button>
                <button class="dd-contentsAnalytics"><a href='#processes'>Business Processes  <i class="fas fa-paperclip"></i></a></button>
                <button class="dd-contentsAnalytics"><a href='#stock'>Stock Market <i class="fas fa-search-dollar"></i></a></button>
            </div>
        <div>
        <div class="dropdownAutomation">
            <button class="menuBtn"><a href='#automation'>Automation <i class="fas fa-magic"></i></a></button>
            <div>
                <button class="dd-contentsAutomation"><a href='#python'>Python <i class="fab fa-python"></i></a></button>
                <button class="dd-contentsAutomation"><a href='#dp'>Data Processing  <i class="fas fa-layer-group"></i></a></button>
                <button class="dd-contentsAutomation"><a href='#dl'>Data Learning  <i class="fas fa-laptop-code"></i></a></button>
            </div>
        </div>
    </div>
    <div class="servicesContent">
        <div>
            <h1 id='database'>DATA  <i class="fas fa-database"></i></h1>
            <h1 id="data-science">Databases  <i class="fas fa-server"></i></h1>
            <p id="data-pipeline">Magyk Software is proud to be qualified to work on relational and non-relational databases. Our engineeers can develop SQL, PL/SQL, cypher, and graphql.

            We have experience in data modeling, database design, database debugging, and database enhancement.
            
            Magyk Software is skilled at transactional systems and their reporting counter parts.
            
            Magyk Software has also worked with warehousing and big data storage.
            </p>
        </div>
        <div>
            <h1>Data Science  <i class="fas fa-microscope"></i></h1>
            <p>
                Data science is the study and application of data. It analyzes what data is, and how to apply it. It determines what data to extract in order to give a better view on what it is you want to understand from your data.
            </p>
        </div>
        <div>
            <h1 id='applications'>Data Pipeline  <i class="fas fa-shipping-fast"></i></h1>
            <p id='web'>Data pipeline is the flow in which your data goes through. It determines what process your data will undergo, how it will undergo it, and when it will undergo it. For example, you received payment from your e-commerce store, and this data, this $100 payment that you received will be automatically inputed in your financial statements, in an email that notifies you that you have received a payment, and to your PayPal account.</p>
        </div>
        <div>
            <h1 id='IOS'>APPLICATIONS  <i class="fas fa-tablet-alt"></i></h1>
            <h1 id='android'>Web  <i class="fas fa-network-wired"></i></h1>
            <p id='analytics'>Web Applications are complex processes that are accessible on the web without the need for it to be stored on your physical device. A good example would be like calculator.com wherein you can use a calculator on the web without the need for your device to have a calculator. </p>
        </div>
        <div>
            <h1 id='statistics'>IOS  <i class="fab fa-app-store-ios"></i></h1>
            <p id=''>IOS is the operating system that runs Apple’s mobile products like the iPhone and the iPad.</p>
        </div>
        <div>
            <h1 id=''>Android  <i class="fab fa-android"></i></h1>
            <p id=''>Android is the operating system that runs the mobile products of phone brands such as Samsung, Huawei, Google Pixel, Xiaomi, and more. </p>
        </div>
        <div>
            <h1 id='processes'>ANALYTICS  <i class="fas fa-chart-bar"></i></h1>
            <h1>Computerized Statistics  <i class="fas fa-chart-pie"></i></h1>
            <p>If you ask any university student out there, they will tell you, before crying their eyes out, that statistics is one of, if not, the hardest course they’ve ever had to go through throughout their university lives. The reason for this is because of how complicated it is for the human mind to process a large amount of data in a short amount of time. Our brains were not designed to accomplish this task efficiently. </p>
        </div>
        <div>
            <h1 id='stock'>Business Processes  <i class="fas fa-paperclip"></i></h1>
            <p>If you are thinking of starting a business, it’s one thing to have the next billion dollar idea, it’s another to plan out how to get there. Business processes basically means the internal processes that allows your business to function. It’s your marketing campaigns, your targeted ads, your customer analysis, your financial statements, your Human Resources, etc. It’s everything you need in order to have an organized, efficient, and understandable flow and procedure within your company to ensure that you are going in the right track.</p>
        </div>
        <div>
            <h1 id='data'>Stock Market  <i class="fas fa-search-dollar"></i></h1>
            <p id='automation' >The stock market in itself is one of the most incredible things that we have in the world right now. The mere thought that you can grow your money by simply doing nothing is almost too good to pass up. You pick a couple of stocks, you wait for its value to rise, and just like that you have more money. However, more often than not, if you are not careful with which stocks to pick, the value of it will go down. It takes a lot of practice, patience, and most importantly, analysis to pick the right stock that will start your path to becoming the next Warren Buffet.</p>
        </div>
        <div>
            <h1 id='python'>AUTOMATION  <i class="fas fa-magic"></i></h1>
            <h1 id='dp'>Python <i class="fab fa-python"></i></h1>
            <p id='dl'>Python is the most popular programming language out there. The main reason for this is that it combines a very short and simplistic syntax, which sort of means different commands you type in that tells the program what to do, with a very high flexibility in terms of the number of things you can accomplish using it. The end product, from the developer’s point of view is cleaner, more organized, and less complicated as compared to other programming languages.</p>
        </div>
        <div>
            <h1>Data Processing <i class="fas fa-layer-group"></i> </h1>
            <p>Data processing, from the name is basically taking data from a source, and presenting it in a way that is easy to understand and is helpful and relevant to what you need the data to say.
            </p>
        </div>
        <div>
            <h1>Data Learning  <i class="fas fa-laptop-code"></i></h1>
            <p>Data learning is basically feeding the computer data, and from that data, improving how it understands something. Like for example, you give the computer data like “Name: John Smith” and “Name: Jack Doe” in order give the connection that whatever comes after the “Name:” is a name.</p>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
