    <a href="https://www.linkedin.com/feed/" ><i id="icons" class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/home" ><i id="icons" class="fab fa-twitter-square"></i></a>
    <a href="https://www.facebook.com/" ><i id="icons" class="fab fa-facebook-square"></i></a>
    <a href="https://www.youtube.com/" ><i id="icons" class="fab fa-youtube-square"></i></a>
    <a href="https://www.reddit.com/" ><i id="icons" class="fab fa-reddit-square"></i></a>
    <a href="">peterantley@magyk.cloud</a>
</body>
</html>