<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ .Site.BaseURL }}js/code.js"></script>
    <script src="https://kit.fontawesome.com/66977525a5.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/css/header.css'>
    <link rel='stylesheet' href='/css/portfolio.css'>
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <title>{{ .Title }}</title>
</head>
<body>
    <div class='headerBar' id='myHeader'>
        <a class='headerLinks' href='/'><img style='margin-top: 20px;' src="/images/magyk_small.png" alt='magyk'></a>
        <a class='headerLinks' href='/about'>About Us</a>
        <a class='headerLinks' href='/services'>Services</a>
        <a class='headerLinks' href='/samples'>Samples</a>
        <a class='headerLinks' style="margin-left: 300px;" href='/contact'>Contact</a>
        <a class="headerLinks" href='/blog'>Blog</a>
    </div>>
    <!--acts as margin for page content-->
    <div style='height: 100px;'>
    </div>
</body>

